<div class="container spacer">
  <div class="card">
<div class="card-header badge-info">A Propos</div>
<div class="card-body">
  <div class="row">
    <div class="col-4">
      <img class="myimg" src="https://qph.fs.quoracdn.net/main-qimg-44b4fdde25df608cd741a90ef0826e9c" alt="angular logo">
    </div>
    <div class="col-8">
      <h4>Spring Rest API - Angular 6 App</h4>
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi blanditiis, optio alias nam enim beatae, tempore nostrum repellendus deleniti ratione, voluptas aperiam perspiciatis nesciunt expedita error aliquid similique reiciendis iste.</p> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis minima quos cupiditate sint explicabo aut neque quo. In similique laudantium architecto atque numquam dolorum ab magnam et vitae, odio error.</p>
    <button class="btn btn-outline-primary" [routerLink]="['/upload']" >Upload a File</button>
  </div>
  </div>
</div>
  </div>
  
</div>